body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  font-family: system-ui;
  background: rgb(31,203,198);
  background: linear-gradient(90deg, rgba(31,203,198,1) 15%, rgba(0,121,255,1) 71%);
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #0a5b8a;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1200px) {
	header {
		padding: 50px;
	}

	nav {
		padding: 20px 0;
	}

		nav ul li {
			margin: 0 20px;
		}

	main {
		padding: 50px;
	}

	footer {
		background-color: #0a5b8a;
		color: #fff;
		text-align: center;
		padding: 10px;
	}

	.project {
		padding: 20px;
	}

	main h1 {
		text-align: center;
		font-family: Tahoma;
	}

	main h3 {
		text-align: left;
		font-family: Tahoma;
		margin-left: 25px;
	}
}
	.Opisanie {
		font-weight: normal;
	}
img {
	width: 900px;
	height: 600px;
	display: block;
	margin-left: 530px;
}

@media (max-width: 1500px) {

	img {
		width: auto;
		height: 600px;
		display: block;
		margin-left: 250px;
	}

}